<%- include('../partials/header') %>
<h1>All Flights</h1>

    <table>
        <thead>
            <th>Airline</th> 
             
           <th>Airport</th>
            <th>Flight Number</th>
             <th>Departure</th>
            <th>Details</th>
            
        </thead>
        <tbody>
            <% flights.forEach(function(flight) { %>
            <tr>
                <td>
                    <%= flight.airline %>
                </td>
                <td>
                    <%= flight.airport %>
                </td>
                <td>
                    <%= flight.flightNo %>
                </td>
                <td>
                    <%= flight.departs.toLocaleString() %></td>
            
                                   
                </td>
                <td> <a style = "display: block; height:50px; width: 50px;" href="/flights/<%= flight._id %>">Detail</a> </td>
                 
            </tr>
        <% }) %>
        </tbody>
    </table>

<%- include('../partials/footer') %>